@font-face {
    font-family: "Gotham Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Gotham/GothamMedium.woff") format("woff");
}
@font-face {
    font-family: "Gotham Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Gotham/GothamBold.woff") format("woff");
}